@charset "utf-8";

body{
    padding-bottom: 0;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../images/background.jpg);
}

main{
    text-align: justify;
    width: 55%;
    float: left;
    padding: 5% 5%;
    background-color: black;
    color: white;
    margin: 1.7%;
}

aside{
    text-align: justify;
    width: 25%;
    float: left;
    color: white;
    margin: 1.7% 0%;
    padding: 2%;
    border: 7px solid black;
    background-color: rgb(107, 104, 104);
}

nav{
    display: flex;
    border: 3px solid white;
    border-left: 0px;
    border-right: 0px;
    background-color: black;
    color: white;
}

nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

ul{
    margin: 0 auto;
    margin: 20px 10%;
}

a{
    color: white;
}

li{
    list-style: none;
}

footer{
    width: 100%;
    float: left;
    border-top: 3px solid;
    background-color: black;
    color: white;
    text-align: center;  
}

img{
    max-width: 100%;
    max-height: 100%;
}

a img{
    box-shadow: 2px 2px 5px black;
}

a img:hover{
    box-shadow: 4px 4px 7px white;
}

p.socialIcon a img{
    box-shadow: none;
    margin: 0.2% 0.5%;
    border-radius: 20px;
    border: 2px solid white;
    width: 50px;
    height: auto;
}

p.socialIcon{
    border: none;
}

p.perfil{
    margin: 0 auto;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#recomend{
    margin: 0 auto;
    margin: 0 0 12% 0;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    list-style-type: none;
    
}

#banner{
    width: 100%;
    height: auto;
}

#question{
    clear: both;
    align-items: flex-start;
    background-color: rgb(33, 29, 29);
    padding: 0 2%;   
}

#fixado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(46, 45, 45);
    margin: 0 0 30px 0;
}

#fixadomsg{
    width: 70%;
    height: auto;
}

.noticia{
    background-color: rgb(107, 104, 104);
    box-shadow: 5px 5px 10px black;
    padding: 2%;
    margin: 2% 0%;
}

.noticia img{
    width: 400px;
    height: auto;
    margin: 0% 2% 0% 0%;
}

.link{
    text-decoration: none;
    list-style: none;
}

.link:hover{
    text-shadow: 2px 2px 2px black;
    color: yellow;
}

.titulo{
    font-size: 35px;
    color: white;
    width: 100%;
    text-align: left;
}

.titulo.link:hover{
    color: yellow;
    text-shadow: 2px 2px 2px rgb(255, 219, 17);
}

.divisor{
    margin-top: 5%;
    border-top: 3px solid;
}

.ad{
    box-shadow: 5px 5px 5px black;
}

.adbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.mensagem{
    padding: 2%;
    border: 1px black solid;
    background-color: rgb(110, 110, 110);
    box-shadow: 5px 5px 1px black;
}
.icon{
    border: 2px solid black;
    margin: 1%;
    border-radius: 25px;
    width: 200px;
    height: auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 500px;
    height: auto;
}

.centro{
    width: 86.6%;
    height: auto;
}

.perfil{
    background-color: rgb(46, 45, 45);
    background-color: rgb(46, 45, 45);
    padding: 5px;
    margin: 20px 0px;
    border: 2px black solid;
    border-radius: 30px;
}

@media screen and (max-width: 768px){
    main{
        width: 86.6%;
    }
    aside{
        width: 93%;
    }
    #fixadomsg{
        width: 90%;
    }
    li{
        align-items: center;
        margin-bottom: 3%;
        background-color: grey;
        border-radius: 30px;
    }
    nav ul{
        flex-direction: column;
    }

    li a{
        display: inline-block;
        padding: 0 100px;
    }

    li:hover{
        background-color: rgb(145, 94, 0);
    }
    iframe{
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 320px){
    li a{
        padding: 0 25px;
    }
}

@media screen and (max-width: 425px){
    li a{
        padding: 0 50px;
    }
}