@charset "utf-8";

main{
    padding: 0% 10%;
}

body{
    margin: 0 auto;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    border: 3px solid;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    background-color: black;
    color: white;
}

a{
    color: white;
}

li{
    list-style: none;
}

aside{
    padding: 2%;
    border: 3px solid;
}


footer{
    border-top: 3px solid;
    background-color: black;
    color: white;
}

#banner{
    
}

.link{
    text-decoration: none;
    list-style: none;
}

.titulo{
    font-size: 25px;
    color: black;
}
